spring:
  datasource:
    url: "jdbc:h2:mem:hobby;MODE=MYSQL"
    password:
    username: admin
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      javax:
        cache:
          provider: org.ehcache.jsr107.EhcacheCachingProvider
        persistence:
          sharedCache:
            mode: ENABLE_SELECTIVE
      hibernate:
        format_sql: true
        generate_statistics: true
        cache:
          use_query_cache: true
          use_second_level_cache: true
          region:
            factory_class: org.hibernate.cache.jcache.JCacheRegionFactory
    defer-datasource-initialization: true
  output:
    ansi:
      enabled: always

cloud:
  storage:
    gcs:
      domain: https://storage.cloud.google.com
      duration: 15
      bucket-name: intorest-images

logging:
  level:
    org:
      hibernate:
        type: trace

server:
  port: 8080
  servlet:
    encoding:
      force-response: true
    session:
      tracking-mode: cookie

mail:
  address:
    admin: admin@gmail.com