name: Java CI with Gradle

on:
  push:
    branches: 
      - deploy

jobs:
  deploy-be:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Create SA KEY file
        run: echo '${{ secrets.GCP_SA_KEY }}' >> ./server/src/main/resources/key.json

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        working-directory: server
        run: chmod +x gradlew
      - name: Build
        working-directory: server
        run: ./gradlew build -x test
      - name: Move jar to root
        run: mv ./server/build/libs/*.jar ./server.jar
        
      - name: Deploy gcp
        uses: appleboy/scp-action@master
        with: 
          key: '${{ secrets.SSH_KEY }}'
          host: '${{ secrets.SSH_HOST }}'
          username: '${{ secrets.SSH_USERNAME }}'
          source: "server.jar"
          target: "~/deploy"

      - name: Run Application
        uses: appleboy/ssh-action@master
        with: 
          host: '${{ secrets.SSH_HOST }}'
          username: '${{ secrets.SSH_USERNAME }}'
          key: '${{ secrets.SSH_KEY }}'
          script: sh initialize.sh
